# Python venv
venv/
__pycache__/

# API keys
.env
fine_tuning/.env

# Pickled data
*.pkl

# Transcripts
*.txt
*.ans
# *.csv

# Logs
*.log
sandbox/
outputs/
.vscode/restore-terminals.json

data/reddit/cmv/reddit_user_profiles_deprecated.json
data/reddit/cmv/reddit_user_profiles.json

fine_tuning/.venv/
fine_tuning/wandb/
fine_tuning/dist/
annotation-app/vertex-ai-leo.json
annotation-app/generated_debates/*
