# Python venv
venv/
__pycache__/

# API keys
.env

# Pickled data
*.pkl

# Transcripts
*.txt
*.ans
# *.csv

# Logs
*.log
sandbox/
outputs/
.vscode/restore-terminals.json

data/reddit/cmv/reddit_user_profiles_deprecated.json